Flask
gunicorn

python-dotenv
typing-extensions
requests
supabase
pandas

dotenv
numpy
matplotlib
matplotlib.pyplot
sentence-transformers
scikit-learn
flask
Flask-APScheduler
pprint

postgrest
openai
spacy
bs4

