Flask
gunicorn

python-dotenv
typing-extensions
requests
supabase
pandas
time
dotenv
os
io
base64
collections
numpy
matplotlib
matplotlib.pyplot
sentence_transformers
sklearn
flask
flask_apscheduler
logging
pprint
ast
typing
postgrest
openai
spacy
bs4
re
